@page "/animation"

<PageTitle>Hardware</PageTitle>

<div class="center-div-hor-ver zoom-in-out-loop">
    <div class="row">
        <div class="col">
            <img
                src="assets/apalis.png" />
        </div>
    </div>
</div>
